%h1 About Capo.io
%h2 What does Capo.io do?
%p.about
  Capo.io is a Capfile generator for the popular deployment tool
  %a{:href => "https://github.com/capistrano/capistrano", :target => "_blank"} Capistrano.
  You can select from a library of recipes to compose your Capfile, or use your own.
%h2 Where do our recipes come from?
%p.about
  We selected and tested a number of recipes that we thought were useful. They are available in our public
  %a{:href => "https://github.com/capoio/capo", :target => "_blank"} Github repository.
  You can submit your own via a pull request for now, but we may streamline this process down the line.
%h2 Contributing
%p.about
  We hope that by making Capo.io open source, people will help us improve it. Use
  %a{:href => "https://github.com/capoio/capo", :target => "_blank"} Github
  for all your bug reports, fixes and feature requests.
%h2 The Capo.io gem
%p.about
  If you're anything like us, you hate clicking. Our
  %a{:href => "https://github.com/capoio/capo-gem", :target => "_blank"} Capo.io gem
  helps you ditch that mouse or trackpad and give your keyboard some love. You can search and add recipes straight from the command line!
%h2 Why did we build it?
%p.about
  Capo.io was built to serve our own needs, but we feel it could serve a more general purpose for the community. It was built in 48 hours as part of the
  %a{:href => "http://railsrumble.com/", :target => "_blank"} 2012 Rails Rumble
  hackathon so it is by no means perfect, but we hope to improve it as time goes by.
%h2 Need help?
%p.about
  If you need help, feel free to email
  %a{:href => "mailto:team@capo.io", :target => "_blank"} team@capo.io
  or send us a
  %a{:href => "http://twitter.com/capo_io", :target => "_blank"} tweet.
  All of our Twitter accounts are in the footer of the site. Of course you can submit an issue or a bug report via
  %a{:href => "https://github.com/capoio/", :target => "_blank"} Github
  as well!
