%h1 About Capo.io
%h2 What does Capo.io do?
%p.about
  Capo.io is a Capfile generator for the popular deployment tool Capistrano. You can select from a library of recipes to compose your Capfile, or use your own.
%h2 Where do our recipes come from?
%p.about
  We selected a number of recipes that we thought were useful, and tested these. They are available in our public Github repository, and we hope people will submit pull request for fixes, improvements or entirely new recipes. Even the website will end up on Github.
%h2 Why did we build it?
%p.about
  Capo.io was built to serve our own needs, but we feel it could serve a greater good. It was built in 48 hours as part of the 2012 Rails Rumble hackathon.
